* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #334256;
  color: #fff;
}

.navbar {
  background: #101d32;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  position: relative;
}

.version-text {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  right: 10px;
  font-weight: 300;
  color: #62758e;
}

.coin-app {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  color: #fff;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border: none;
  background: #6a7281;
  color: #e2e2e2;
  outline: none;
  font-size: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.coin-input::placeholder {
  color: #e2e2e2;
}

/* PAGINATION */
.paginationBtns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.paginationBtns a {
  padding: 10px;
  margin: 8px;
  border: 1px solid #ced4db;
  color: #ced4db;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.paginationBtns a:hover {
  color: #ffff;
  background: #101d32;
}

.paginationActive a {
  color: #ffff;
  background: #101d32;
}
